/********

Siren Framework v3.3

File Name: Header and Footer

File Purpose: Classes for the header and footer elements

File Notes: 


*********/


/*-------------------------*\
  #BACKGROUNDS
\*-------------------------*/

.mike_img{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: -23px;
	margin-bottom: -22px;
	margin-left: -160px;
	height:auto;
	width:75%;
	
}

.jonas_img{
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin-top: 0px;
	margin-right: -158px;
	margin-bottom: -21px;
	width:75%;
	text-align:right;

}