/********

Siren Framework v3.3

File Name: Header and Footer

File Purpose: Classes for the header and footer elements

File Notes: 


*********/


/*-------------------------*\
  #Header
\*-------------------------*/

.header{
	text-align: center;
	color: $color1;
	@include trailer;
	padding: 1em;
	overflow: hidden;
}

//Site Title
.siteTitle_logo{
	margin: 1em auto .5em;
	width:80%;

}





/*-------------------------*\
  #Navigation
\*-------------------------*/


	.siteNav{
		font-size: .8em;
		letter-spacing: .1em;
		text-align: center;
		text-transform: uppercase;

		li{
			list-style: none;
			margin-bottom: 1em;
		}
	}




/*-------------------------*\
  #Footer
\*-------------------------*/

.footer{
	text-align: center;
	background: $color1;
	color: $color2;
	@include leader;
	padding: 1em;
}

.footer_content{
	max-width: 100%;
	margin: 0;
}